[Unit]
Description=Pomodoro daemon
After=default.target

[Service]
Type=simple
Restart=always
ExecStart=/home/toto/.local/bin/pomodoro daemon

[Install]
WantedBy=default.target
